/****** Script for SelectTopNRows command from SSMS  ******/
SELECT *  FROM [AgriSibo].[dbo].[Crop]
SELECT *  FROM [AgriSibo].[dbo].[Farmer]
SELECT *  FROM [AgriSibo].[dbo].[Farm]
SELECT *  FROM [AgriSibo].[dbo].[FarmersCrop]




SELECT *  FROM [AgriSibo].[dbo].[Project]