.vs/Walmart/v15/Server/sqlite3/db.lock
.vs/Walmart/v15/Server/sqlite3/storage.ide
packages/BouncyCastle.1.8.1/BouncyCastle.1.8.1.nupkg
packages/BouncyCastle.1.8.1/Readme.txt
packages/EasyPost-Official.2.3.1.2/EasyPost-Official.2.3.1.2.nupkg
packages/EasyPost-Official.2.3.1.2/lib/net35/EasyPost.Net35.XML
packages/EasyPost-Official.2.3.1.2/lib/net40/EasyPost.Net40.XML
packages/EasyPost-Official.2.3.1.2/lib/net45/EasyPost.XML
packages/Newtonsoft.Json.10.0.3/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.10.0.3/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.10.0.3/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.10.0.3/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.10.0.3/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.10.0.3/lib/netstandard1.3/Newtonsoft.Json.xml
packages/Newtonsoft.Json.10.0.3/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.10.0.3/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.10.0.3/LICENSE.md
packages/Newtonsoft.Json.10.0.3/Newtonsoft.Json.10.0.3.nupkg
packages/Newtonsoft.Json.10.0.3/tools/install.ps1
packages/RestSharpSigned.105.2.3/lib/net35/RestSharp.xml
packages/RestSharpSigned.105.2.3/lib/net4/RestSharp.xml
packages/RestSharpSigned.105.2.3/lib/net45/RestSharp.xml
packages/RestSharpSigned.105.2.3/lib/net451/RestSharp.xml
packages/RestSharpSigned.105.2.3/lib/net452/RestSharp.xml
packages/RestSharpSigned.105.2.3/lib/net46/RestSharp.xml
packages/RestSharpSigned.105.2.3/lib/net4-client/RestSharp.xml
packages/RestSharpSigned.105.2.3/lib/sl5/RestSharp.xml
packages/RestSharpSigned.105.2.3/readme.txt
packages/RestSharpSigned.105.2.3/RestSharpSigned.105.2.3.nupkg

Walmart/obj/Debug/

Walmart/RSUtility/obj/Release/

Walmart/RSUtility/\.vs/slnx\.sqlite

Walmart/RSUtility/\.vs/VSWorkspaceState\.json

Walmart/RSUtility/obj/x86/Release/

Walmart/RSUtility/obj/Debug/RSUtility\.csproj\.FileListAbsolute\.txt

Walmart/RSUtility/obj/Debug/RSUtility\.InputDialog\.resources

Walmart/RSUtility/obj/Debug/

Walmart/RSUtility/obj/x64/Debug/

Walmart/RSUtility/obj/x86/Debug/

Walmart/RSUtility/obj/x86/Staging/

*.ide-wal

\.vs/Walmart/v15/Server/sqlite3/storage\.ide-shm

\.vs/


#[Component]
*.suo
*.nupkg
*.bat
*.out
*.csproj.user

#TestResults
TestResults
*.trx
*.coverage
*.dll
*.pdb

#[Component]\Base
bin
DesignerGenerated
obj

#others
*.cache
*.psess
*.vsp
!External_APIs/*
.vs
packages
*.ctb~*
*.csv#
*.~csv
